:root {
  /* COLOR PALETTE */
  /* MAIN PALETTE */
  --color-lightShade: #efeff4;
  --color-lightAccent: coral;
  --color-mainColor: #54b78a;
  --color-darkAccent: #5e578a;
  --color-darkShade: #232b47;
  /* TABLE PALETTE */
  --color-morning: #9cd5d3;
  --color-software: #d39348;
  --color-electronics: #9b88c2;
  --color-theory: #8a5d60;
  --color-project: #3d4a87;
  --color-lunch: lightgrey;
}

body {
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  padding-top: 54px;
  color: var(--color-darkShade);
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-lightAccent);
}

h3 {
  color: var(--color-mainColor);
}

h1 {
  font-size: 5.3rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading, #privacyPolicy>h2 {
  /* text-transform: uppercase; */
  font-weight: 500;
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1.5rem;
  color: var(--color-darkAccent);
}

.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  background-color: #BD5D38;
}

.social-icons {
  display: none;
}

.dev-icons {
  font-size: 3rem;
}

.dev-icons .list-inline-item i:hover {
  color: #BD5D38;
}

#sideNav .navbar-nav .nav-item .nav-link {
  /* font-weight: 800; */
  letter-spacing: 0.05rem;
  /* text-transform: uppercase; */
  color: var(--color-lightAccent);
}

#sideNav .navbar-toggler:focus {
  outline-color: var(--color-darkAccent);
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
    background-color: white;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    /* min-height: 100vh; */
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: white !important;
}

.text-primary {
  color: var(--color-mainColor) !important;
}

a {
  color: #BD5D38;
}

a:hover, a:focus, a:active {
  color: #824027;
}

/* ----- NEW CSS FOR FUZZY BINAIRES ---- */

.fa-ul>li {
  margin-bottom: 10px;
}

.fa-ul>li>i {
  color: var(--color-electronics);
}

.table-responsive-vertical>td {
  line-height: 10px;
}

#table {
  margin-left: 20px;
}

.table-morning {
  background-color: var(--color-morning);
  font-size: 12px;
}

.table-software {
  background-color: var(--color-software);
}

.table-electronics {
  background-color: var(--color-electronics);
}

.table-theory {
  background-color: var(--color-theory);
}

.table-project {
  background-color: var(--color-project)
}

.table-lunch {
  background-color: var(--color-lunch);
  font-size: 12px;
}

/* --- DESCRIPTION BULLETS ---*/

.bullet-description {
  /* color: lightskyblue; */
  margin-top: 0.4em;
}

#bullet-morning {
  color: var(--color-morning);
}

#bullet-software {
  color: var(--color-software);
}

#bullet-electronics {
  color: var(--color-electronics);
}

#bullet-theory {
  color: var(--color-theory);
}

#bullet-project {
  color: var(--color-project);
}

#bullet-lunch {
  color: var(--color-lunch);
}

/* -- APPLY BUTTON --*/

#apply-button {
  /* display: inline-block; */
  margin: 20px;
  /* width: 100px; */
  background-color: var(--color-mainColor);
  /* text-align: center;
  border-style: dotted;
  border-color: var(--color-project);
  padding: 10px;
  background-color: var(--color-electronics);
  color: var(--color-morning);
  border-radius: 10px; */
}

#privacyPolicyButton {
  color: var(--color-darkAccent);
}

.card-header {
  padding: 0px;
}

#privacyPolicy>h1 {
  font-size: 35px;
}

/* NAV BAR MOBILE BUTTON */

.navbar-dark .navbar-toggler {
  background-color: var(--color-lightAccent);
}

.navbar-dark .navbar-brand {
  color: var(--color-darkAccent);
}

.littleImage {
  margin: 10px !important;
  text-align: center;
}